<section class="bg-dark" style="background: white" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center" style="color: black">
                <h2 class="section-heading">Welcome to my personal website!</h2>
                <hr class="light">
                <p class="text-faded" style="color: black">
                    I am a Computer Science major at Georgia Tech with focus in Media and Information Internetworks.
                    I am interested in web, app and game development.
                    Please see my resume for more descriptions on my recent projects! </p>
                <!--<a href="Nhuresume.pdf" target="_blank" class="btn btn-default btn-xl" style="color: white">Resume</a>-->
                <a href="Nhuresume.pdf" class="btn btn-xl bg-dark wow tada" style="color: #EEB211">Resume</a>

            </div>
        </div>
    </div>
</section>
