<header>
    <div class="header-content" theme>
        <div class="header-content-inner" style="color:#ffffff">
            <h1 style="background-color: #000000">Nhu Nguyen</h1>
            <hr>
            <p>
                <i class="fa fa-2x wow bounceInLeft" data-wow-delay=".3s" style="color:#ffffff" ></i>
                <h2 style="background-color:#000000">"Welcome to my personal website!";</h2>
            </p>
            <a href="#about" class="fa fa-5x fa-arrow-circle-o-down" aria-hidden="true" page-scroll ></a>
            <!--<a href="#about" class="btn btn-primary btn-xl page-scroll"></a>-->
            <!--<i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i>-->
        </div>
    </div>
</header>
