<header>
    <div class="header-content" theme>
        <div class="header-content-inner" style="color:#000000" style="opacity: 0.5" style="font-weight: 600" style="text-align: center" style="top: 50%">

            <h1 style="opacity: 0.75"><span style="background-color: white" style="display: block">Nhu Nguyen</span></h1>
        <!--<div class="header-content-inner" style="color:#fafafa">-->
            <!--<h1><span>Nhu Nguyen</span></h1>-->
            <!--<hr>-->
            <!--<p>-->
                <!--<i class="fa fa-3x wow bounceIn"  style="color:#232323" style="display: inline-block">-->
                    <!--<i class="fa fa-2x wow bounceInLeft" data-wow-delay=".3s" style="color:#ffffff">"Welcome to my personal website!";-->
                    <!--<h4 style="opacity: 0.5"><span>"Welcome to my personal website!";</span></h4>-->
                <!--</i>-->
            <!--</p>-->
            <a class="page-scroll" href="#about">
            <a href="#about" class="fa fa-4x fa-arrow-circle-o-down wow bounceIn" data-wow-delay=".5s"
               aria-hidden="true" style="color: WHITE" style="opacity: 0.5" style="margin-top: 300px"></a>
                <!--<i class="fa fa-2x fa-check-square-o wow bounceIn text-primary" data-wow-delay=".3s"> CSS/HTML</i>-->
            <!--<a href="#about" class="btn btn-primary btn-xl page-scroll"></a>-->
            <!--<i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i>-->
            </a>
        </div>
    </div>
</header>
