<header>
    <div class="header-content" theme>
        <div class="header-content-inner" style="color:#ffffff" style="opacity: 0.5" style="text-align: center" style="top: 50%">

            <h1 style="opacity: 0.3"><span style="background-color: #000000" style="display: block">Nhu Nguyen</span></h1>
        <!--<div class="header-content-inner" style="color:#fafafa">-->
            <!--<h1><span>Nhu Nguyen</span></h1>-->
            <!--<hr>-->
            <!--<p>-->
                <!--<i class="fa fa-3x wow bounceIn"  style="color:#232323" style="display: inline-block">-->
                    <!--&lt;!&ndash;<i class="fa fa-2x wow bounceInLeft" data-wow-delay=".3s" style="color:#ffffff">"Welcome to my personal website!";&ndash;&gt;-->
                    <!--<h4 style="opacity: 0.5"><span>"Welcome to my personal website!";</span></h4>-->
                <!--</i>-->
            <!--</p>-->
            <a href="#about" class="fa fa-5x fa-arrow-circle-o-down" aria-hidden="true" page-scroll style="color: white" style="opacity: 0.5" style="margin-top: 30px"></a>
            <!--<a href="#about" class="btn btn-primary btn-xl page-scroll"></a>-->
            <!--<i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i>-->
        </div>
    </div>
</header>
